# .env.example - скопируйте в .env и заполните
# PostgreSQL (можно оставить как есть для тестов)
POSTGRES_USER=       #имя_пользователя_базы_данных (по умолчанию airflow)
POSTGRES_PASSWORD=   #пароль_базы_данных (по умолчанию airflow)
POSTGRES_DB=         #название_базы_данных (по умолчанию airflow)
